.leaderboard {
  width: 100%;
  max-height: calc(100vh - 75px);
  overflow-y: auto;
  background-color: var(--light);
}
.leaderboard::-webkit-scrollbar {
  display: none;
}
.leaderboardData {
  margin: 25px 20px;
  padding: 20px;
  background: white;
  border-radius: 8px;
  border-left: 3px solid rgb(231, 231, 231)
  
}
