.tableBody {
  width: 100%;
  overflow: auto;
}

.tableBody table,
th,
td {
text-align: left;
    padding: 13px;
    border-bottom: 3px solid #ddd;}
.tableBody td {
  text-align: center;
}

.tableBody::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.4rem;
}
.tableBody::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: rgb(164, 164, 164);
}

.tableRow td:nth-last-child(3) {
  font-size: 17px;
}
.tableRow td:nth-last-child(2) {
  color: rgb(0, 38, 255);
  cursor: pointer;
  padding: 4px;
  text-align: center;
  font-size: 15px;
}

.tableRow td:nth-last-child(2) img {
  width: 100%;
  height: auto;
  width: 25px;
  height: 25px;
}

.tableRow td:last-child {
  color: rgb(53, 243, 28);
  cursor: pointer;
  padding: 4px;
  text-align: center;
  font-size: 15px;
}

.tableRow td:last-child img {
  width: 100%;
  height: auto;
  width: 20px;
  height: 20px;
}
